<div>
<ul>
  <li>
    User ID: <%= @user.id %>
  </li>
  <li>
    User Email: <%= @user.email %>
  </li>
  <li>
    User password_digest: <%= @user.password_digest %>
  </li>
    <li>
    User public_key: <%= @user.public_key %>
  </li>
  <li>
    User Erstellt am: <%= @user.created_at %>
  </li>
</ul>
</div>
